.card.small-card-center.card-background-color
  .card-header
    %h4 Update Password
  .card-body
    = simple_form_for(@staff, html: {class: 'form-inline'},url: staff_update_password_path(@staff), method: :put) do |f|
      .row
        .form-group
          = f.input :password, placeholder: "New password", class: "form-control"
      .row
        .form-group
          = f.input :password_confirmation, placeholder: 'Confirm new password', class: "form-control"
      .col-md-10
        = f.button :submit, class: 'btn btn-success float-right'
